<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Create a new trip</h4>
</div>
<div class="modal-body">
    <form name="createTripForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="title" class="col-sm-3 col-md-2 control-label">* Title:</label>
            <div class="col-sm-9 col-md-10">
                <input type="text" class="form-control" id="title" ng-model="title" required>
            </div>
        </div>
        <div class="form-group">
            <label for="datetime" class="col-sm-3  col-md-2 control-label">* Start time:</label>
            <div class="col-sm-9 col-md-10">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group date" id='datetimepicker'>
                            <input type="text" class="form-control" data-ng-model="datetime" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <datetimepicker data-ng-model="datetime" data-datetimepicker-config="{ dropdownSelector: '#dropdown' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="startLocation" class="col-sm-3  col-md-2 control-label">* Start location:</label>
            <div class="col-sm-9 col-md-10">
                <input type="text" class="form-control" id="startLocation" ng-model="startLocation" ng-autocomplete="startLocation" required>
            </div>
        </div>
        <div class="form-group">
            <label for="tasks" class="col-sm-3  col-md-2 control-label">* Task(s):</label>
            <div class="col-sm-9 col-md-10">
                <table class="table table-striped" id="tasks" ng-show="tasks.length > 0">
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th><span class="glyphicon glyphicon-ok"></span></th>
                    </tr>
                    <tr data-ng-repeat="task in tasks" ng-click="task.checked = !task.checked; selectTask(task)" class="selectRow" ng-class="{success: task.checked}">
                        <td>{{task.title}}</td>
                        <td>{{task.datetime | date:'M/d/yyyy hh:mma'}}</td>
                        <td><input type="hidden" ng-model="task.checked" /><span ng-class="{'glyphicon glyphicon-ok' : task.checked, 'glyphicon glyphicon-unchecked' : !task.checked}"></span></td>
                    </tr>
                </table>
                <div class="text-right">
                    <button class="btn btn-danger-pastel" ng-click="removeTasks()" ng-disabled="!anyTaskSelected"><span class="glyphicon glyphicon-minus"></span> Remove task(s)</button>
                    <button class="btn btn-success-pastel" ng-click="addTasks()"><span class="glyphicon glyphicon-plus"></span> Add task(s)</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="endLocation" class="col-sm-3 col-md-2 control-label">End location:</label>
            <div class="col-sm-9 col-md-10">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="endLocationChecked" ng-change="endLocation = endLocationChecked ? endLocation : ''">
                    </span>
                    <input type="text" class="form-control" id="endLocation" ng-model="endLocation" ng-autocomplete="endLocation" ng-disabled="!endLocationChecked" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="comments" class="col-sm-3 col-md-2 control-label">Comments:</label>
            <div class="col-sm-9 col-md-10">
                <textarea rows="4" cols="50" class="form-control" id="comments" ng-model="comments"></textarea>
            </div>
        </div>
    </form>
    <div class="text-right text-danger">
        <small><em>* required fields</em></small>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-success-pastel" ng-click="createTrip()" ng-disabled="createTripForm.$invalid || tasks.length === 0">Create Trip</button>
</div>