<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Edit location '{{location.name}}'</h4>
</div>
<div class="modal-body">
    <form name="editLocationForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="name" class="col-sm-3 col-md-2 control-label">* Name:</label>
            <div class="col-sm-9 col-md-10">
                <input type="text" class="form-control" id="name" ng-model="location.name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="autocomplete" class="col-sm-3 col-md-2 control-label">* Address:</label>
            <div class="col-sm-9 col-md-10">
                <input type="text" class="form-control" id="autocomplete" ng-autocomplete="location.query" details="locationDetails" ng-model="location.query" required>
            </div>
        </div>
        <div class="form-group">
            <label for="comments" class="col-sm-3 col-md-2 control-label">Comments:</label>
            <div class="col-sm-9 col-md-10">
                <textarea rows="4" cols="50" class="form-control" ng-model="location.comments"></textarea>
            </div>
        </div>
    </form>
    <div class="text-right text-danger">
        <small><em>* required fields</em></small>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="submitting">Cancel</button>
    <button type="button" class="btn btn-success-pastel" ng-click="updateLocation()" ng-disabled="editLocationForm.$invalid || submitting">Update Location</button>
</div>